* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    width: 100%;
    color: white;
    padding: 20px;
    background: rgb(66, 30, 107);
    box-sizing: border-box;
}

.menu-item {
    list-style: none;
}

.menu-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.banner-title, .banner-description {
    text-align: center;
    color: rgb(72, 45, 124);
}
.banner-title {
    font-size: 48px;
}

.banner-section {
    padding: 35px 0;
    background: url(img/banner-bg.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 5px 2px 7px 0px black;
}

.cards-section {
    padding: 50px 10px;
}

.cards-title, .cards-description {
    color: rgb(57, 47, 66);
    text-align: center;
}

.cards {
    padding: 25px;
    margin-top: 25px;
    background: white;
    box-shadow: 5px 5px 15px 2px black;
    text-align: center;
    display: inline-block;
    width: 25%;
    margin: 20px 50px;
}

.card-link {
    text-decoration: none;
    color: white;
}

.card-button {
    text-align: center;
    background: rgb(58, 25, 88);
    padding: 10px 70px;
    border-radius: 15px;
    cursor: pointer;
}

.card-button:hover {
    box-shadow: 5px 6px 10px 0px black;
}

.card-title, .card-text {
    margin-bottom: 10px;
}

.footer {
    background: url(img/footer-bg.jpg);
    color: rgb(246, 218, 255);
    padding: 100px 0px;
}